@page "/CPH/Report/{SearchDate}"

<PageTitle>Keys360 Reporting - CPH Report</PageTitle>
<ErrorMessage Message="@_errorMessage" />
<section class="section">
    <div class="columns is-centered">
        <SearchShared SearchDate="_search.SearchDate"  />
    </div>
</section>