<div class="column is-4">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="title">Filter(s)</p>
                <EditForm Model="_search" OnValidSubmit="HandleSearch">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="field">
                        <label for="username" class="heading">Date</label>
                        <div class="control">
                            <InputDate class="input is-danger" @bind-Value="_search.SearchDate" />
                            <ValidationMessage For="@(() => _search.SearchDate)" />
                        </div>
                    </div>
                    <hr />
                    <button class="button is-primary" @onclick="HandleSearch">Search</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>
