@page "/Dashboard"
<PageTitle>Keys360 Reporting</PageTitle>

<PageDisplayTitle Title="Keys 360 Reporting" Sub="Welcome to Keys 360 Reporting." />

<section class="section">
    <div class="columns is-centered">
        <div class="column is-6">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <p class="title">Instructions</p>
                        <p class="subtitle">Please choose a report from the report link above.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
