@page "/"

<PageTitle>Keys360 Reporting</PageTitle>
<PageDisplayTitle Title="Keys 360 Reporting" Sub="Please enter credentials below. All fields are case sensitive." />
<ErrorMessage Message="@_errorMessage" />

<section class="section">
    <div class="columns is-centered">
        <div class="column is-4">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <p class="title">Log On</p>
                        <EditForm Model="_userLogin" OnValidSubmit="HandleLogin">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div class="field">
                                <label class="heading">User</label>
                                <div class="control">
                                    <InputText class="input is-danger" @bind-Value="_userLogin.userName" required="required" />
                                    <ValidationMessage For="@(() => _userLogin.userName)" />
                                </div>
                            </div>
                            <div class="field">
                                <label class="heading">Password</label>
                                <div class="control">
                                    <InputText class="input is-danger" type="password" @bind-Value="_userLogin.password" required="required" />
                                    <ValidationMessage For="@(() => _userLogin.password)" />
                                </div>
                            </div>
                            <hr />
                            <button type="submit" class="button is-primary @_buttonClass">Login</button>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

