@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<br />

<main role="main">
    @Body
</main>

<footer class="footer">
    <div class="content has-text-centered">
        &copy; @(DateTime.Now.Year) - Keys360 Reporting
    </div>
</footer>


