<section class="hero is-light is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                @Title
            </h1>
            <h2 class="subtitle">
                @Sub
            </h2>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Sub { get; set; }
}
