@if (!string.IsNullOrEmpty(Message))
{
    <section class="hero is-success is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Success
                </h1>
                <h2 class="subtitle">
                    @Message
                </h2>
            </div>
        </div>
    </section>
}

@code
{
    [Parameter]
    public string Message { get; set; }
}
