if (!string.IsNullOrEmpty(Message))
{
<section class="hero is-warning is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Warning
            </h1>
            <h2 class="subtitle">
                @Message
            </h2>
        </div>
    </div>
</section>
}

@code
{
    [Parameter]
    public string Message { get; set; }
}